.. _insectbraindb_tut:

Insect Brain DB
***************

The insect brain database (`link <https://insectbraindb.org>`_) is an online repository for neuron morphologies, brain regions and experimental data across various insect species. At the time of writing Insect Brain DB features close to 400 neuronal cell types from well over 30 insect species. Check out `Heinze et al. (2021) <https://elifesciences.org/articles/65376>`_ for details! While the website features a comprehensive search and some nifty analyses, it can be useful to download these data to run your own analyses or compare to other data sets.

For that purpose, `navis` provides an interface to Insect Brain DB that wraps parts of their API.

.. note::
   At this point IBDB interface is still work in progress and you need to install `navis` from Github (see install 
   instructions) to try it.

In [1]:
# Import navis
import navis

# Import the actual Insect Brain DB interface
import navis.interfaces.insectbrain_db as ibdb

In order to programmatically query Insect Brain DB you have to create a (free) account. Then you have two options for providing your credentials to `navis`:

1. Set your user name + password as environment variables: ``INSECT_BRAIN_DB_USER`` and ``INSECT_BRAIN_DB_PASSWORD``, respectively (recommended). 
2. At the beginning of each session run :func:`~navis.interfaces.insectbrain_db.authenticate`:

.. code-block:: python

   ibdb.authenticate(username='myuser', password='mypassword')
  
The second option is not recommended because it has the potential of you accidentally leaking your credentials.

With that out of the way let's get our feet wet! First, fetch a list of available species:

In [6]:
species = ibdb.get_available_species()
species.head()

,id,scientific_name,common_name,uuid,date_created,date_modified,persistent_records,description
0,24,Aedes aegypti,Yellow fever mosquito,628dbce3-20f4-4af8-8c78-f9d3bc0c6654,2019-03-04T22:28:27.697821Z,2021-06-14T07:27:31.902290Z,"[20.500.12158/SIN-0000024.2, 20.500.12158/SIN-...","Aedes aegypti, the yellow fever mosquito, is t..."
1,2,Agrotis infusa,Bogong moth,a6d4eadd-2e82-4393-96ab-fdfedaf42536,2016-07-10T08:37:09.361502Z,2021-03-25T16:37:09.342736Z,"[20.500.12158/SIN-0000002.1, 20.500.12158/SIN-...","""The nocturnal Bogong moth (Agrotis infusa) is..."
2,21,Agrotis segetum,Turnip moth,ae12170d-d655-4794-9f38-54ca4f1b3c50,2017-04-26T10:55:52.000344Z,2021-08-02T10:53:21.686671Z,"[20.500.12158/SIN-0000021.2, 20.500.12158/SIN-...","The turnip moth, Agrotis segetum Denis and Sch..."
3,7,Apis mellifera,Honeybee,8881609d-1929-410a-be38-ca47da5718d5,2016-07-10T08:37:09.372889Z,2021-07-31T19:36:16.122039Z,"[20.500.12158/SIN-0000007.1, 20.500.12158/SIN-...",The western honey bee or European honey bee (A...
4,34,API Test Species,API delete me species,f03110db-e348-4da1-b6b9-9c776541fe12,2021-05-13T19:48:24.250895Z,2021-05-13T19:48:24.250920Z,[],None

Fetch info for a given species (you can use the scientific or common name, or an ID):

In [9]:
spec_info = ibdb.get_species_info('Schistocerca gregaria')
spec_info

id                                                                        9
uuid                                   795f4fd5-cad7-4de0-853f-89406a64aa98
images                    [{'id': 925, 'tag': 'SPECIES_IMAGE', 'hash': N...
prefix                                                                   sg
public                                                                 True
approved                                                               True
curators                  [{'uuid': 'c51a2d7e-6314-487a-9b8b-384db7ff79e...
host_lab                                    Uwe Homberg, Marburg University
created_by                {'uuid': '89c53715-561d-4942-81ab-aa4a02237fdd...
searchable                                                             True
structures                [{'id': 1, 'name': 'Antennal Lobe', 'type': 's...
common_name                                                   Desert Locust
description               The desert locust (Schistocerca gregaria) is a...
experiments                                                              []
date_created                                    2016-07-10T08:37:09.454013Z
date_modified                                   2021-07-20T06:55:06.812019Z
confocal_stacks                                                          []
reconstructions           [{'id': 66, 'sex': 'UNKNOWN', 'uuid': '8b10333...
scientific_name                                       Schistocerca gregaria
neuron_publications       [{'id': 340, 'doi': 'https://doi.org/10.1002/c...
species_publications      [{'id': 327, 'doi': '10.3389/fnbeh.2015.00346'...
semi_schematic_default                                                 None
dtype: object

Fetch neuropil meshes for the Locust brain:

In [27]:
# `combine=True` would produce a single combined mesh but here we want a list of individual neuropils
locust_brain = ibdb.get_brain_meshes('Desert Locust', combine=False)
locust_brain[:2]

[<navis.Volume(name=Anterior lobula(left), color=(1.0, 0.4, 0.0, 0.5), vertices.shape=(2502, 3), faces.shape=(5000, 3))>,
 <navis.Volume(name=Upper lateral accessory lobe(right), color=(0.4392156862745098, 0.8, 0.1607843137254902, 0.5), vertices.shape=(5002, 3), faces.shape=(10000, 3))>]

In [ ]:
# Plot neuropils
fig = navis.plot3d(locust_brain, width=1200, volume_legend=True)

.. raw:: html
   :file: figures/locust_brain.html
   
|
|
|
|

Search for neurons:

In [13]:
locust_neurons = ibdb.search_neurons(species='Desert Locust')
locust_neurons.head()

,id,name,full_name,short_name,persistent_records,uploaded_by,nin,sex,date_uploaded,reconstruction_creator,...,experimenter,public,hemisphere,archived,archived_notes,species,superseding_record,super_type,neuron_family,neuron_class
0,426,CL1a-L1,sg-CL1a-L1,CL1a-L1,[20.500.12158/NIN-0000426.1],"{'id': 41, 'first_name': 'Frederick', 'last_na...",NIN-0000426,UNKNOWN,2021-07-01T00:00:00Z,,...,Frederick Zittrell,True,LEFT,False,None,9,None,31.0,8.0,1.0
1,429,CL1a-L3,sg-CL1a-L3,CL1a-L3,[20.500.12158/NIN-0000429.1],"{'id': 41, 'first_name': 'Frederick', 'last_na...",NIN-0000429,UNKNOWN,2021-07-01T00:00:00Z,,...,Frederick Zittrell,True,LEFT,False,None,9,None,31.0,8.0,1.0
2,440,CL1a-L4,sg-CL1a-L4,CL1a-L4,[20.500.12158/NIN-0000440.1],"{'id': 41, 'first_name': 'Frederick', 'last_na...",NIN-0000440,UNKNOWN,2021-07-01T00:00:00Z,,...,Frederick Zittrell,True,LEFT,False,None,9,None,31.0,8.0,1.0
3,425,CL1a-L5,sg-CL1a-L5,CL1a-L5,[20.500.12158/NIN-0000425.1],"{'id': 41, 'first_name': 'Frederick', 'last_na...",NIN-0000425,UNKNOWN,2021-07-01T00:00:00Z,,...,Frederick Zittrell,True,LEFT,False,None,9,None,31.0,8.0,1.0
4,423,CL1a-R2,sg-CL1a-R2,CL1a,[20.500.12158/NIN-0000423.1],"{'id': 71, 'first_name': 'Ronja', 'last_name':...",NIN-0000423,UNKNOWN,2021-06-19T00:00:00Z,Stefanie Jahn,...,Ronja Hensgen,True,RIGHT,False,None,9,None,6.0,8.0,1.0

Fetch skeletons ("reconstructions") for some of the above neurons. Note that not all neurons have skeletons (note the "reconstruction_creator" column)!

In [17]:
# You can use IDs or names, or a combination thereof to fetch skeletons
skeleton = ibdb.get_skeletons('CL1a-R2')
skeleton

,type,name,id,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,navis.TreeNeuron,CL1190516SkeletonTreeRight.swc,423,78559,None,330,340,9918.345885,None,1 micrometer

In [ ]:
skeleton.plot3d(radius=True)

.. raw:: html
   :file: figures/locust_neuron.html
   
|
|
|
|

Check out the :ref:`API reference<api_interfaces.insectdb>` for further details.