.. _neuron_overview:

A primer on neuron objects
==========================

Neuron types
++++++++++++

Neurons in ``navis`` come in three flavours:

.. autosummary::
    :toctree: generated/

 	~navis.TreeNeuron
    ~navis.MeshNeuron       
    ~navis.Dotprops
    
Fundamentally, ``TreeNeurons`` represent a neuron as a tree-like "skeleton" which is effectively a directed acyclic graph, i.e. they consist of nodes and each node connects to at most 1 parent. This format is typically used to describe a neurons topology and shared using the `SWC <http://www.neuronland.org/NLMorphologyConverter/MorphologyFormats/SWC/Spec.html>`_ format. 

``MeshNeurons`` consist of vertices and faces, and are typically the product of e.g. image segmentation. This neuron class is relatively new to ``navis`` and additional functions to analyse and convert (e.g. skeletonize) ``MeshNeurons`` are in the making.

``Dotprops`` represent neurons point clouds. Each point can be associated with a vector and an alpha value. This simple representation often comes from e.g. light-level data or as derivate from skeletons/meshes (see e.g. :func:`navis.make_dotprops`). Dotprops are used e.g. for :ref:`NBLAST<nblast_intro>`.

Some functions in ``navis`` will work with one but not the other neuron type. Let's have a look, shall we?

TreeNeurons 
+++++++++++
A :class:`~navis.TreeNeuron` are typically constructed from an SWC file (see :func:`navis.read_swc`) but you can also use a ``pandas.DataFrame`` or a ``networkx.DiGraph``. 

``navis`` ships with a couple example *Drosophila* neurons from the Janelia hemibrain project published
in `Scheffer et al. (2020) <https://elifesciences.org/articles/57443>`_ and available at https://neuprint.janelia.org (see also the :ref:`neuPrint tutorial <neuprint_intro>`):

In [1]:
# Import navis 
import navis

# Load one of the example neurons
sk = navis.example_neurons(n=1, kind='skeleton')

# Inspect the neuron
sk

type            navis.TreeNeuron
name                  1734350788
id                    1734350788
n_nodes                     4465
n_connectors                2705
n_branches                   599
n_leafs                      618
cable_length          266476.875
soma                      [4177]
units                8 nanometer
dtype: object

:class:`~navis.TreeNeuron` stores nodes and other data as attached DataFrames:

In [2]:
sk.nodes.head()

   node_id label        x        y        z   radius  parent_id  type
0        1     0  15784.0  37250.0  28102.0  10.0000         -1  root
1        2     0  15764.0  37230.0  28102.0  18.2843          1  slab
2        3     0  15744.0  37190.0  28142.0  34.7214          2  slab
3        4     0  15744.0  37150.0  28182.0  34.7214          3  slab
4        5     0  15704.0  37130.0  28242.0  34.7214          4  slab

MeshNeurons
+++++++++++
:class:`~navis.MeshNeuron` can be constructed from any object that has ``.vertices`` and ``.faces`` properties, a dictionary of ``vertices`` and ``faces`` or a file that can be parsed by ``trimesh.load``.

Let's have a look at the example neurons:

In [3]:
m = navis.example_neurons(n=1, kind='mesh')
m

type           MeshNeuron
name                 None
id             1734350788
units         8 nanometer
n_vertices           6309
n_faces             13054
dtype: object

:class:`~navis.MeshNeuron` stores vertices and faces as attached numpy arrays:

In [5]:
m.vertices, m.faces

(TrackedArray([[16384.        , 34792.03125   , 24951.88085938],
               [16384.        , 36872.0625    , 25847.89453125],
               [16384.        , 36872.0625    , 25863.89453125],
               ...,
               [ 5328.08105469, 21400.07617188, 16039.99414062],
               [ 6872.10498047, 19560.04882812, 13903.96191406],
               [ 6872.10498047, 19488.046875  , 13927.96191406]]),
 TrackedArray([[3888, 3890, 3887],
               [3890, 1508, 3887],
               [1106, 1104, 1105],
               ...,
               [5394, 5426, 5548],
               [5852, 5926, 6017],
               [ 207,  217,  211]]))

Lists of Neurons
++++++++++++++++

Multiple neurons are typically collected in a :class:`~navis.NeuronList` as container:

In [2]:
# Grab three example TreeNeurons
nl = navis.example_neurons(n=3)
nl

,type,name,id,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,navis.TreeNeuron,1734350788,1734350788,4465,2705,599,618,266476.87500,[4177],8 nanometer
1,navis.TreeNeuron,1734350908,1734350908,4847,3042,735,761,304332.65625,[6],8 nanometer
2,navis.TreeNeuron,722817260,722817260,4332,3136,633,656,274703.37500,None,8 nanometer

A :class:`~navis.NeuronList` works similar to normal lists with a bunch of additional perks:

In [7]:
# Get the first neuron in the list
nl[0]

type             TreeNeuron
name             1734350788
id               1734350788
n_nodes                4465
n_connectors           None
n_branches              603
n_leafs                 619
cable_length         266458
soma                 [4176]
units           8 nanometer
dtype: object

They also allow easy and fast access to data and across all neurons:

In [3]:
# Get the number of nodes in the first skeleton
nl[0].n_nodes

4465

In [8]:
# Use the neuronlist to collect number of nodes across all neurons
nl.n_nodes

array([4465, 4845, 4336])

In [9]:
# Works on any neuron attribute
nl.cable_length

array([266458.00615559, 304277.01267831, 274910.5606301 ])

In addition to these **attributes**, both :class:`~navis.TreeNeuron` and :class:`~navis.NeuronList` have shortcuts (called **methods**) to other ``navis`` functions. These lines of code are equivalent:

In [ ]:
s.reroot(s.soma, inplace=True)
navis.reroot_neuron(s, s.soma, inplace=True)

In [ ]:
s.plot3d(color='red')
navis.plot3d(s, color='red')

In [ ]:
lh = navis.example_volume('LH')
s.prune_by_volume(lh, inplace=True)
navis.in_volume(s, lh, inplace=True)

The ``inplace`` parameter is part of many navis functions and works like e.g. in the pandas library:
 - if ``inplace=True`` operations are performed on the original
 - if ``inplace=False`` (default) operations are performed on a copy of the original which is then returned

In [11]:
# Load a neuron
n = navis.example_neurons(1)
# Load an example neuropil
lh = navis.example_volume('LH')

# Prune neuron to neurpil but leave original intact
n_lh = n.prune_by_volume(lh, inplace=False)

print(f'{n.n_nodes} nodes before and {n_lh.n_nodes} nodes after pruning')

4465 nodes before and 344 nodes after pruning

.. _index_neuronlists:

Indexing NeuronLists
====================
:class:`~navis.NeuronList` are designed to behave similar to pandas DataFrames in that they allow some fancing
indexing.

Index by index
++++++++++++++

You've already seen how to extract a single neuron from a :class:`~navis.NeuronList` using a single integer index. Like for numpy arrays, this also works for list of indices...

In [8]:
nl = navis.example_neurons(n=3)

nl[[0, 2]]

,type,name,id,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350788,1734350788,4465,None,603,619,266458.006156,[4176],8 nanometer
1,TreeNeuron,722817260,722817260,4336,None,635,658,274910.560630,None,8 nanometer

... or slices

In [9]:
nl[:2]

,type,name,id,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350788,1734350788,4465,None,603,619,266458.006156,[4176],8 nanometer
1,TreeNeuron,1734350908,1734350908,4845,None,733,760,304277.012678,[6],8 nanometer

Index by attributes
+++++++++++++++++++

You can index by :class:`~navis.NeuronList` by boolean ``numpy.arrays`` - that includes :class:`~navis.TreeNeuron` attributes, e.g. ``n_nodes``, ``cable_length``, ``soma``, etc.

Index using node count:

In [10]:
subset = nl[nl.n_branches > 700]
subset

,type,name,id,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350908,1734350908,4845,None,733,760,304277.012678,[6],8 nanometer

Here is an example where we subset to neurons that have a soma:

In [11]:
nl.soma

array([array([4176]), array([6]), None], dtype=object)

In [12]:
nl.soma != None

array([ True,  True, False])

In [13]:
subset = nl[nl.soma != None]
subset

,type,name,id,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350788,1734350788,4465,None,603,619,266458.006156,[4176],8 nanometer
1,TreeNeuron,1734350908,1734350908,4845,None,733,760,304277.012678,[6],8 nanometer

Index by name
+++++++++++++

:class:`~navis.TreeNeuron` can (but don't have to) have names (``.name``). If you, for example, import neurons from SWC files they will inherit their name from the file by default.

You can index by single...

In [14]:
nl['1734350788']

,type,name,id,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350788,1734350788,4465,None,603,619,266458.006156,[4176],8 nanometer

... or multiple names:

In [15]:
nl[['1734350788', '1734350908']]

,type,name,id,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350788,1734350788,4465,None,603,619,266458.006156,[4176],8 nanometer
1,TreeNeuron,1734350908,1734350908,4845,None,733,760,304277.012678,[6],8 nanometer

Using regex
***********
Under the hood ``navis`` uses ``re.fullmatch`` to match neuron names - so you can use regex!

In [16]:
nl['.*350.*']

,type,name,id,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350788,1734350788,4465,None,603,619,266458.006156,[4176],8 nanometer
1,TreeNeuron,1734350908,1734350908,4845,None,733,760,304277.012678,[6],8 nanometer

Please note that whichever way you index your :class:`~navis.NeuronList`, each neuron will be returned only once!

In [17]:
nl[[0, 0]]

,type,name,id,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350788,1734350788,4465,None,603,619,266458.006156,[4176],8 nanometer

In [18]:
nl[[0, '1734350788']]

,type,name,id,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350788,1734350788,4465,None,603,619,266458.006156,[4176],8 nanometer

Index by ID
+++++++++++

All neurons have an ID - even if you don't explicitly assign one, a UUID will assigned under the hood.

In [19]:
nl[0].id

1734350788

Neuron lists can be indexed by their ID - this works similar to e.g. the ``.loc`` indexer in pandas DataFrames.

In [20]:
nl.idx[1734350908]

type             TreeNeuron
name             1734350908
id               1734350908
n_nodes                4845
n_connectors           None
n_branches              733
n_leafs                 760
cable_length         304277
soma                    [6]
units           8 nanometer
dtype: object

.. _neuron_math:

Neuron Math
===========
``navis`` implements a very simply and intuitive syntax to add and remove items from a NeuronList:

Addition
++++++++
To merge two lists in Python, you can simply add them:

In [27]:
[1] + [3]

[1, 3]

:class:`~navis.NeuronList` works exactly the same:

In [28]:
nl[:2] + nl[2:]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350788,4465,None,603,619,266458.006156,[4176],8 nanometer
1,TreeNeuron,1734350908,4845,None,733,760,304277.012678,[6],8 nanometer
2,TreeNeuron,722817260,4336,None,635,658,274910.560630,None,8 nanometer

This also works on with two single :class:`~navis.TreeNeurons`! You can use that to combine them into a list:

In [29]:
nl[0] + nl[1]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350788,4465,None,603,619,266458.006156,[4176],8 nanometer
1,TreeNeuron,1734350908,4845,None,733,760,304277.012678,[6],8 nanometer

Substraction
++++++++++++
To remove an item from a Python list, you would call the ``.pop()`` method:

In [30]:
l = [1, 2, 3]
l.pop(2)
l

[1, 2]

For :class:`~navis.NeuronList` you can use substraction:

In [31]:
nl - nl[2]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350788,4465,None,603,619,266458.006156,[4176],8 nanometer
1,TreeNeuron,1734350908,4845,None,733,760,304277.012678,[6],8 nanometer

Bitwise AND
+++++++++++
To find the intersection between two lists, you would use ``sets`` and the ``&`` operator:

In [32]:
set([0, 1, 2]) &  set([2, 3, 4])

{2}

:class:`~navis.NeuronList` work similarly:

In [33]:
nl[[0, 1]] & nl[[1, 2]]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma,units
0,TreeNeuron,1734350908,4845,None,733,760,304277.012678,[6],8 nanometer

Multiplication and Division
+++++++++++++++++++++++++++
So far, all operations have led to changes in the structure of the :class:`~navis.NeuronList`. Multiplication and division are **different**! If you multiply/divide a :class:`~navis.TreeNeuron` or :class:`~navis.NeuronList` by a number, you will change the *coordinates* of nodes and connectors (including radii):

In [34]:
n = nl[0]
n.nodes.head()

   node_id label        x        y        z   radius  parent_id  type
0        1     0  15784.0  37250.0  28102.0  10.0000         -1  root
1        2     0  15764.0  37230.0  28102.0  18.2843          1  slab
2        3     0  15744.0  37190.0  28142.0  34.7214          2  slab
3        4     0  15744.0  37150.0  28182.0  34.7214          3  slab
4        5     0  15704.0  37130.0  28242.0  34.7214          4  slab

In [35]:
n2 = n / 1000
n2.nodes.head()

   node_id label       x      y       z    radius  parent_id  type
0        1     0  15.784  37.25  28.102  0.010000         -1  root
1        2     0  15.764  37.23  28.102  0.018284          1  slab
2        3     0  15.744  37.19  28.142  0.034721          2  slab
3        4     0  15.744  37.15  28.182  0.034721          3  slab
4        5     0  15.704  37.13  28.242  0.034721          4  slab

.. _compare_neurons:

Comparing Neuron/Lists
======================
:class:`~navis.NeuronList` implements some of the basic arithmetic and comparison operators that you might know from standard ``lists`` or ``numpy.arrays``. Most this should be fairly intuitive (I hope) but there are a few things you should be aware of. The following examples will illustrate that.

Comparisons
+++++++++++
In Python the ``==`` operator compares two elements:

In [17]:
1 == 1

True

In [18]:
2 == 1

False

For :class:`~navis.TreeNeuron` this is comparison done by looking at the neurons' attribues: morphologies (soma & root nodes, cable length, etc) and meta data (name).

In [5]:
nl[0] == nl[0]

True

In [6]:
nl[0] == nl[1]

False

To find out which attributes are compared, check out:

In [21]:
navis.TreeNeuron.EQ_ATTRIBUTES

['n_nodes',
 'n_connectors',
 'soma',
 'root',
 'n_branches',
 'n_leafs',
 'cable_length',
 'name']

Edit this list to establish your own criteria for equality.

For :class:`~navis.NeuronList`, we do the same comparison pairwise between the neurons in both neuronlists:

In [7]:
nl == nl

True

In [4]:
nl == nl[:2]

False

Because the comparison is done pairwise and **in order**, shuffling a :class:`~navis.NeuronList` will result in a failed comparison:

In [5]:
nl == nl[[2, 1, 0]]

False

Comparisons are safe against copying but making any changes to the neurons will cause inequality:

In [6]:
nl[0] == nl[0].copy()

True

In [7]:
nl[0] == nl[0].downsample(2, inplace=False)

False

You can also ask if a neuron is in a given ``NeuronList``:

In [8]:
nl[0] in nl

True

In [9]:
nl[0] in nl[1:]

False

Making custom changes
=====================

Under the hood ``navis`` calculates certain properties when you load a neuron: e.g. it produces a graph representation (``.graph`` or ``.igraph``) and a list of linear segments (``.segments``) for ``TreeNeurons``. These data are attached to a neuron and are crucial for many functions. Therefore ``navis`` make sure that any changes to a neuron automatically propagate into these data structures. See this example:

In [37]:
n = navis.example_neurons(1, kind='skeleton')

print(f'Nodes in node table: {n.nodes.shape[0]}')
print(f'Nodes in graph: {len(n.graph.nodes)}')

Nodes in node table: 4465
Nodes in graph: 4465

Making changes will cause the graph representation to be regenerated:

In [38]:
n.prune_by_strahler(1, inplace=True)

print(f'Nodes in node table: {n.nodes.shape[0]}')
print(f'Nodes in graph: {len(n.graph.nodes)}')

Nodes in node table: 1770
Nodes in graph: 1770

If, however, you make changes to the neurons that do not use built-in functions there is a chance that ``navis`` won't know that things have change properties need to be regenerated!

In [4]:
n = navis.example_neurons(1)

print(f'Nodes in node table before: {n.nodes.shape[0]}')
print(f'Nodes in graph before: {len(n.graph.nodes)}')

# Truncate the node table by 55 nodes
n.nodes = n.nodes.iloc[:-55]

print(f'\nNodes in node table after: {n.nodes.shape[0]}')
print(f'Nodes in graph after: {len(n.graph.nodes)}')

Nodes in node table before: 4465
Nodes in graph before: 4465

Nodes in node table after: 4410
Nodes in graph after: 4410

Here, the changes to the node table automatically triggered a regeneration of the graph. This works because navis generates and checks hash values for neurons to detect changes and because here the node table is the master. It would not work the other way around (i.e. changing the graph to change the node table).

Again: as long as you are using built-in functions, you don't have to worry about this. If you do run some custom manipulation of neurons be aware that you might want to make sure that the data structure remains intact. If you ever need to manually trigger a regeneration you can do so like this:

In [5]:
# Clear temporary attributes of the neuron
n._clear_temp_attr()

Neuron attributes
=================

This is a *selection* of :class:`~navis.TreeNeuron` and :class:`~navis.MeshNeuron` class attributes.

For both:

- ``name``: a name
- ``id``: a (unique) identifier
- ``bbox``: Bounding box of neuron(list)
- ``connectors``: connector table (optional)
- ``volume``: volume of the neuron

Only for ``TreeNeurons``:

- ``nodes``: node table
- ``cable_length``: cable length(s)
- ``soma``: node ID(s) of soma (if applicable)
- ``root``: root node ID(s)
- ``segments``: list of linear segments
- ``graph``: NetworkX graph representation of the neuron
- ``igraph``: iGraph representation of the neuron (if library available)

Only for ``MeshNeurons``:

- ``vertices``/``faces``: vertices and faces

All above attributes can be accessed via the ``NeuronList`` containing the neurons. In addition you can also get:

- ``is_mixed``: returns ``True`` if list contains more than one neuron type
- ``is_degenerated``: returns ``True`` if list contains neurons with non-unique IDs
- ``types``: tuple with all types of neurons in the list
- ``shape``: size of neuronlist ``(N, )`` 

All attributes and method are accessible through auto-completion.

Reference
+++++++++

See :class:`~navis.TreeNeuron`, :class:`~navis.MeshNeuron`, :class:`~navis.Dotprops`, :class:`~navis.NeuronList` or :ref:`API <api_neurons>`.