.. _neuron_overview:

A primer on neuron objects
==========================

Single Neurons
++++++++++++++

Single neurons and lists of neurons are represented in ``navis`` by:

.. autosummary::
    :toctree: generated/

 	~navis.TreeNeuron
 	~navis.NeuronList

NAVis comes with a couple example *Drosophila* neurons from the FAFB project published
in `Zheng et al <http://www.cell.com/cell/retrieve/pii/S0092867418307876?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS0092867418307876%3Fshowall%3Dtrue>`_
, Cell (2018):

In [1]:
import navis

n = navis.example_neurons(n=1)
n

type              TreeNeuron
name            neuron_38885
n_nodes                 6365
n_connectors               0
n_branches               235
n_leafs                  243
cable_length     1.21335e+06
soma                  [3490]
dtype: object

:class:`~navis.TreeNeuron` stores nodes and other data as attached DataFrames:

In [2]:
n.nodes.head()

   node_id label         x         y         z  radius  parent_id  type
0        1     0  489192.0  186290.0  138040.0     0.0         -1  root
1        2     0  489233.0  186198.0  138080.0     0.0          1  slab
2        3     0  489235.0  186174.0  138120.0     0.0          2  slab
3        4     0  489229.0  186200.0  138160.0     0.0          3  slab
4        5     0  489251.0  186141.0  138200.0     0.0          4  slab

Lists of Neurons
++++++++++++++++

List of neurons are represented as :class:`~navis.NeuronList`:

In [19]:
nl = navis.example_neurons(n=3)
nl

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]
1,TreeNeuron,neuron_1785034,8187,0,305,322,1.447682e+06,[3604]
2,TreeNeuron,neuron_57418,3839,0,134,142,9.499755e+05,[2546]

A :class:`~navis.NeuronList` works similar to normal lists with a few additional perks:

In [4]:
nl[0]

type              TreeNeuron
name            neuron_38885
n_nodes                 6365
n_connectors               0
n_branches               235
n_leafs                  243
cable_length     1.21335e+06
soma                  [3490]
dtype: object

They allow easy and fast access to data and across all neurons:

In [4]:
nl.n_nodes

array([6365, 8187, 3839])

In [5]:
nl.cable_length

array([1213347.43506801, 1447681.63642537,  949975.4839264 ])

In addition to these **attributes**, both :class:`~navis.TreeNeuron` and :class:`~navis.NeuronList` have shortcuts (called **methods**) to other navis functions. These lines of code are equivalent:

In [ ]:
n.reroot(n.soma, inplace=True)
navis.reroot_neuron(n, n.soma, inplace=True)

In [ ]:
n.plot3d(color='red')
navis.plot3d(n, color='red')

In [ ]:
n.prune_by_volume('LH_R', inplace=True)
navis.in_volume(n, 'LH_R', inplace=True)

The ``inplace`` parameter is part of many navis functions and works like that in the excellent pandas library. If ``inplace=True`` operations are performed on the original. If ``inplace=False`` (default) operations are performed on a copy of the original which is then returned:

In [8]:
n = navis.example_neurons(1)
lh = navis.example_volume('LH')
n_lh = n.prune_by_volume(lh, inplace=False)
print(f'{n.n_nodes} nodes before and {n_lh.n_nodes} nodes after pruning')

6365 nodes before and 1299 nodes after pruning

.. _index_neuronlists:

Indexing NeuronLists
====================
:class:`~navis.NeuronList` are designed to behave similar to pandas DataFrames in that they allow some fancing
indexing.

Index by index
++++++++++++++

You've already seen how to extract a single neuron from a :class:`~navis.NeuronList` using a single integer index. Like for numpy arrays, this also works for list of indices...

In [2]:
nl = navis.example_neurons(n=3)

nl[[0, 2]]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]
1,TreeNeuron,neuron_57418,3839,0,134,142,9.499755e+05,[2546]

In [ ]:
... or slices

In [3]:
nl[:2]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]
1,TreeNeuron,neuron_1785034,8187,0,305,322,1.447682e+06,[3604]

Index by attributes
+++++++++++++++++++

You can index by :class:`~navis.NeuronList` by boolean ``numpy.arrays`` - that includes :class:`~navis.TreeNeuron` attributes, e.g. ``n_nodes``, ``cable_length``, ``soma``, etc.

Index using node count:

In [7]:
subset = nl[nl.n_nodes > 7000]
subset

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_1785034,8187,0,305,322,1.447682e+06,[3604]

Here is an example where we subset to neurons that have a soma:

In [15]:
nl.soma

array([[3490],
       [3604],
       [2546]])

In [8]:
import numpy as np

np.any(nl.soma, axis=1)

array([ True,  True,  True])

In [9]:
subset = nl[np.any(nl.soma, axis=1)]
subset

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]
1,TreeNeuron,neuron_1785034,8187,0,305,322,1.447682e+06,[3604]
2,TreeNeuron,neuron_57418,3839,0,134,142,9.499755e+05,[2546]

Index by name
+++++++++++++

:class:`~navis.TreeNeuron` can (but don't have to) have names (``.name``). If you, for example, import neurons from SWC files they will inherit their name from the file by default.

You can index by single...

In [10]:
nl['neuron_38885']

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]

... or multiple names:

In [11]:
nl[['neuron_38885', 'neuron_57418']]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]
1,TreeNeuron,neuron_57418,3839,0,134,142,9.499755e+05,[2546]

Using regex
***********
Under the hood, NAVis uses ``re.fullmatch`` to match neuron names - so you can use regex!

In [16]:
nl['.*85.*']

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]
1,TreeNeuron,neuron_1785034,8187,0,305,322,1.447682e+06,[3604]

Please note that whichever way you index your :class:`~navis.NeuronList`, each neuron will be returned only once!

In [9]:
nl[[0, 0]]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]

In [10]:
nl[[0, 'neuron_38885']]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]

.. _neuron_math:

Neuron Math
===========
NAVis implements a very simply and intuitive syntax to add and remove items from a NeuronList:

Addition
++++++++
To merge two lists in Python, you can simply add them:

In [17]:
[1] + [3]

[1, 3]

:class:`~navis.NeuronList` works exactly the same:

In [14]:
nl[:2] + nl[2:]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]
1,TreeNeuron,neuron_1785034,8187,0,305,322,1.447682e+06,[3604]
2,TreeNeuron,neuron_57418,3839,0,134,142,9.499755e+05,[2546]

This also works on with two single :class:`~navis.TreeNeurons`! You can use that to combine them into a list:

In [13]:
nl[0] + nl[1]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]
1,TreeNeuron,neuron_1785034,8187,0,305,322,1.447682e+06,[3604]

Substraction
++++++++++++
To remove an item from a Python list, you would call the ``.pop()`` method:

In [16]:
l = [1, 2, 3]
l.pop(2)
l

[1, 2]

:class:`~navis.NeuronList` lets you use substraction:

In [20]:
nl - nl[2]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_38885,6365,0,235,243,1.213347e+06,[3490]
1,TreeNeuron,neuron_1785034,8187,0,305,322,1.447682e+06,[3604]

Bitwise AND
+++++++++++
To find the intersection between two lists, you would use ``sets`` and the ``&`` operator:

In [21]:
set([0, 1, 2]) &  set([2, 3, 4])

{2}

:class:`~navis.NeuronList` work similarly:

In [22]:
nl[[0, 1]] & nl[[1, 2]]

,type,name,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,neuron_1785034,8187,0,305,322,1.447682e+06,[3604]

Multiplication and Division
+++++++++++++++++++++++++++
So far, all operations have led to changes in the structure of the :class:`~navis.NeuronList`. Multiplication and division are **different**! If you multiply/divide a :class:`~navis.TreeNeuron` or :class:`~navis.NeuronList` by a number, you will change the *coordinates* of nodes and connectors (including radii):

In [23]:
n = nl[0]
n.nodes.head()

   node_id label         x         y         z  radius  parent_id  type
0        1     0  489192.0  186290.0  138040.0     0.0         -1  root
1        2     0  489233.0  186198.0  138080.0     0.0          1  slab
2        3     0  489235.0  186174.0  138120.0     0.0          2  slab
3        4     0  489229.0  186200.0  138160.0     0.0          3  slab
4        5     0  489251.0  186141.0  138200.0     0.0          4  slab

In [24]:
n2 = n / 1000
n2.nodes.head()

   node_id label        x        y       z  radius  parent_id  type
0        1     0  489.192  186.290  138.04     0.0         -1  root
1        2     0  489.233  186.198  138.08     0.0          1  slab
2        3     0  489.235  186.174  138.12     0.0          2  slab
3        4     0  489.229  186.200  138.16     0.0          3  slab
4        5     0  489.251  186.141  138.20     0.0          4  slab

.. _compare_neurons:

Comparing Neuron/Lists
======================
:class:`~navis.NeuronList` implements some of the basic arithmetic and comparison operators that you might know from standard ``lists`` or ``numpy.arrays``. Most this should be fairly intuitive (I hope) but there are a few things you should be aware of. The following examples will illustrate that.

Comparisons
+++++++++++
In Python the ``==`` operator compares two elements:

In [17]:
1 == 1

True

In [18]:
2 == 1

False

For :class:`~navis.Neuron` this is comparison done by looking at the neurons' attribues: morphologies (soma(s), root(s) nodes, cable length, ...) and meta data (name).

In [5]:
nl[0] == nl[0]

True

In [6]:
nl[0] == nl[1]

False

To find out which attributes are compared, check out:

In [3]:
navis.TreeNeuron.EQ_ATTRIBUTES

['n_nodes',
 'n_connectors',
 'soma',
 'root',
 'n_branches',
 'n_leafs',
 'cable_length',
 'name']

Edit this list to establish your own criteria for equality.

For :class:`~navis.NeuronList`, we do the same comparison pairwise between the neurons in both neuronlists:

In [7]:
nl == nl

True

In [4]:
nl == nl[:2]

False

Because the comparison is done pairwise and **in order**, shuffling a :class:`~navis.NeuronList` will result in a failed comparison:

In [5]:
nl == nl[[2, 1, 0]]

False

Comparisons are safe against copying but making any changes to the neurons will cause inequality:

In [6]:
nl[0] == nl[0].copy()

True

In [7]:
nl[0] == nl[0].downsample(2, inplace=False)

False

You can also ask if a neuron is in a given ``NeuronList``:

In [8]:
nl[0] in nl

True

In [9]:
nl[0] in nl[1:]

False

Making custom changes
=====================

Under the hood, NAVis generates properties when you load a neuron: e.g. a graph representation (``.graph`` or ``.igraph``) and a list of linear segments (``.segments``). These data are attached to a neuron and are crucial for most of NAVis' functions. Therefore NAVis make sure that any changes to a neuron automatically propagate into these data structures. See this example:

In [6]:
n = navis.example_neurons(1)

print(f'Nodes in node table: {n.nodes.shape[0]}')
print(f'Nodes in graph: {len(n.graph.nodes)}')

Nodes in node table: 6365
Nodes in graph: 6365

Making changes will cause the graph representation to be regenerated:

In [7]:
n.prune_by_strahler(1, inplace=True)

print(f'Nodes in node table: {n.nodes.shape[0]}')
print(f'Nodes in graph: {len(n.graph.nodes)}')

Nodes in node table: 4461
Nodes in graph: 4461

If, however, you make changes to the neurons that do not use built-in functions there is a chance that NAVis won't know that these properties need to be regenerated!

In [39]:
n = navis.example_neurons(1)

print(f'Nodes in node table before: {n.nodes.shape[0]}')
print(f'Nodes in graph before: {len(n.graph.nodes)}')

# Truncate the node table by 55 nodes
n.nodes = n.nodes.iloc[:-55]

print(f'\nNodes in node table after: {n.nodes.shape[0]}')
print(f'Nodes in graph after: {len(n.graph.nodes)}')

Nodes in node table before: 6365
Nodes in graph before: 6365

Nodes in node table after: 6310
Nodes in graph after: 6365

See how the changes to the node table did not propagate to the graph representation of the neuron? For this to happen we have to manually trigger regeneration of temporary attributes such as the graph:

In [37]:
# Clear temporary attributes of the neuron
n._clear_temp_attr()

print(f'Nodes in node table after clear: {n.nodes.shape[0]}')
print(f'Nodes in graph after clear: {len(n.graph.nodes)}')

Nodes in node table after clear: 6310
Nodes in graph after clear: 6310

Again: as long as you are using built-in functions, you don't have to worry about this. If you do run some custom manipulation of neurons be aware that you might have to clear temporary attributes.

Neuron attributes
=================

This is a *selection* of :class:`~navis.TreeNeuron` and
:class:`~navis.NeuronList` class attributes:

- ``name``: a name (optional)
- ``id``: a unique identifier
- ``nodes``: node table
- ``connectors``: connector table (optional)
- ``cable_length``: cable length(s)
- ``soma``: node ID(s) of soma (if applicable)
- ``root``: root node ID(s)
- ``segments``: list of linear segments
- ``graph``: NetworkX graph representation of the neuron
- ``igraph``: iGraph representation of the neuron (if library available)
- ``dps``: Vector (dotprops) representation of the neuron
    

All attributes and method are accessible through auto-completion.

Reference
+++++++++

See :class:`~navis.TreeNeuron` or :ref:`API <api_neurons>`.