.. _quickstart:

Quickstart
**********
This tutorial will show you the basics of how to use NAVis. This is not supposed to be comprehensive but rather to give you a flavor of how things work. For inspiriation, explore the :ref:`example gallery <example_gallery>` and for detailed explanations have a look at the :ref:`API documentation <api>`.

Single Neurons
++++++++++++++

NAVis lets you import neurons from a variety of sources with the most used format being SWC files. For demonstration purposes NAVis comes with a bunch of fruit fly neurons from the `FAFB <http://temca2data.org>`_ project:

In [ ]:
import navis

n = navis.example_neurons(n=1)
n

type              TreeNeuron
name            neuron_38885
n_nodes                 6365
n_connectors               0
n_branches               235
n_leafs                  243
cable_length     1.21335e+06
soma                  [3490]
dtype: object

In above code we loaded one of the example neurons. NAVis represents neurons as :class:`~navis.TreeNeuron`. This class is essentially a wrapper around the actual neuron data and has some convenient features.

Node data is stored as pandas DataFrame:

In [ ]:
n.nodes.head()

   node_id label         x         y         z  radius  parent_id  type
0        1     0  489192.0  186290.0  138040.0     0.0         -1  root
1        2     0  489233.0  186198.0  138080.0     0.0          1  slab
2        3     0  489235.0  186174.0  138120.0     0.0          2  slab
3        4     0  489229.0  186200.0  138160.0     0.0          3  slab
4        5     0  489251.0  186141.0  138200.0     0.0          4  slab

.. note:: Pandas    
   `pandas <https://pandas.pydata.org>`_ is **the** data science library for Python and will help you analyze and visualize your data. **I highly recommend familiarizing yourself with pandas!** There are plenty of good tutorials out there but pandas' own `10 Minutes to pandas <https://pandas.pydata.org/pandas-docs/stable/10min.html>`_ is a good place to start. 

Try typing in "``n.``" and hitting tab: most attributes and functions are accessible via autocompletion. If you don't know what a function does, check out the documentation using ``help()`` or via the :ref:`API documentation <api>`:

In [ ]:
help(navis.TreeNeuron.root)

Help on property:

    Root node(s).

In [ ]:
help(navis.TreeNeuron.downsample)

Help on function downsample in module navis.core.neurons:

downsample(self, factor=5, inplace=False, **kwargs)
    Downsample the neuron by given factor.

    Parameters
    ----------
    factor :                int, optional
                            Factor by which to downsample the neurons.
                            Default = 5.
    inplace :               bool, optional
                            If True, operation will be performed on
                            itself. If False, operation is performed on
                            copy which is then returned.
    **kwargs
                            Additional arguments passed to
                            :func:`~navis.downsample_neuron`.

    See Also
    --------
    :func:`~navis.downsample_neuron`
        Base function. See for details and examples.

You will notice that many NAVis functions that accept neurons have an ``inplace`` parameter. This is analogous to pandas:

In [ ]:
# Downsample and return a copy of the original (default)
n_ds = n.downsample(10)

# Downsample the original neuron
n_ds2 = n.copy()
n_ds2.downsample(10, inplace=True)

n_ds2

type              TreeNeuron
name            neuron_38885
n_nodes                  867
n_connectors               0
n_branches               235
n_leafs                  243
cable_length     1.02046e+06
soma                  [3490]
dtype: object

:class:`~navis.TreeNeuron` functions such as ``.downsample()`` are shorthands for calling the actual NAVis functions. So above code is equivalent to:

In [ ]:
n_ds = navis.downsample_neuron(n, downsampling_factor=10, inplace=False)

n_ds

type              TreeNeuron
name            neuron_38885
n_nodes                  867
n_connectors               0
n_branches               235
n_leafs                  243
cable_length     1.02046e+06
soma                  [3490]
dtype: object

Lists of Neurons
++++++++++++++++

For multiple :class:`~navis.TreeNeuron`, NAVis uses :class:`~navis.NeuronList`:

In [ ]:
nl = navis.example_neurons(n=3)
nl

,type,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,6365,0,235,243,1.213347e+06,[3490]
1,TreeNeuron,8187,0,305,322,1.447682e+06,[3604]
2,TreeNeuron,3839,0,134,142,9.499755e+05,[2546]

:class:`~navis.NeuronList` is a container and behaves like a glorified ``list``:

In [ ]:
nl[0]

type              TreeNeuron
name            neuron_38885
n_nodes                 6365
n_connectors               0
n_branches               235
n_leafs                  243
cable_length     1.21335e+06
soma                  [3490]
dtype: object

:class:`~navis.NeuronList` lets you run/access all functions and properties that a :class:`~navis.TreeNeuron` has:

In [ ]:
nl.cable_length

array([1213347.43506801, 1447681.63642537,  949975.4839264 ])

In [ ]:
nl_ds = nl.downsample(10, inplace=False)

nl_ds

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

,type,n_nodes,n_connectors,n_branches,n_leafs,cable_length,soma
0,TreeNeuron,867,0,235,243,1.020463e+06,[3490]
1,TreeNeuron,1112,0,305,322,1.181253e+06,[3604]
2,TreeNeuron,523,0,134,142,7.979172e+05,[2546]

Let's finish this primer with some eye candy

In [ ]:
fig = nl.plot3d()

.. raw:: html
   :file: figures/quickstart_3d_plot.html
   
|
|
|
|

For more advanced stuff (plotting, pruning, cutting, etc.) have a look at the :ref:`example gallery <example_gallery>`.